<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="monitor" class="ch.qos.logback.core.FileAppender">
        <file>D:monitor.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>D:myApp.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--通过设置additivity="false"禁止monitor里的内容向上传递，否则会同时显示在默认的日志中-->
    <logger name="monitor" additivity="false" level="DEBUG">
        <appender-ref ref="monitor" />
        <!--<appender-ref ref="STDOUT" />-->
        <!--<appender-ref ref="FILE"/>-->
    </logger>

    <root level="debug">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE"/>
    </root>
</configuration>